img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
  border: solid black 1px;
  margin: 5px;
}

footer {
  text-align: center;
}

article {
  border: solid black 1px;
  margin: 2rem;
  padding: 1rem;
}
